@import url("https://fonts.googleapis.com/css?family=Poppins:200i,400&display=swap");

* {
  font-family: "Poppins", sans-serif;
}

body {
  background-image: url(computer.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  font-family: "Poppins", sans-serif;
}

fieldset {
  border-radius: 5px;
  border: 0px;
}

label,
textarea {
  font-size: 0.8rem;
  letter-spacing: 1px;
  font-size: 18px;
  font-family: "Poppins", sans-serif;
}

textarea {
  padding: 10px;
  line-height: 1.5;
  border-radius: 5px;
  border: 1px solid #ccc;
  /* box-shadow: 1px 1px 1px #999; */
}

#survey-form {
  display: flex;
  flex-direction: column;
  max-width: 600px;
  margin: auto;
  background-color: rgba(232, 232, 232, 0.8);
  border-radius: 5px;
  padding: 20px 40px;
  font-size: 2em;
}

form fieldset,
form label {
  margin-top: 6px;
}

#title {
  text-align: center;
  /* padding-bottom: 30px; */
  color: white;
}

#description {
  text-align: center;
  color: white;
}

#submit {
  margin-top: 10px;
  background-color: skyblue;
  padding: 8px 16px 8px 16px;
  border-radius: 2px;
  border: none;
  font-size: 30px;
  color: white;
}
#submit:hover {
  background-color: grey;
  color: white;
  cursor: pointer;
}

input[type="number"],
input[type="text"],
input[type="email"] {
  border-radius: 4px;
  border-style: none;
  height: 3em;
  padding-left: 5px;
}

input[type="checkbox"],
input[type="radio"] {
  width: 20px;
  height: 20px;
}

div label {
  font-size: 20px;
}

#dropdown {
  width: 100%;
  border-radius: 3px;
  height: 3em;
  border-style: none;
}

#name-label,
#email-label,
#number-label {
  font-weight: bold;
}

.boldfont {
  font-weight: bold;
  font-size: 20px;
  margin-top: 30px;
}
